.colum{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}
.inputF{
    margin-left: 11.5%;
}
.inputizq{
width: 90%;
height: 9px;
margin-bottom: 1px;

} 
#tipoPagoFactura{
    margin-left: 0.5%;
}
#plazoPagoFactura{
    margin-left: 1.5%;
}
.izq{
text-align: left;
margin-right: 15px;

}
.lado-factura{
    text-align: left;

}
.ladoi{
    margin-left:4% ;
}
.lado-factura input{
    width: 75%;
    height: 10px;
}

.lado-factura  select{
    width: 75%;
    height: 22px; 
    margin:0;
    padding: 0;
    margin-bottom: 6px;
}
.nver{
    display: none;
}
.lado1{
    padding-right: 10px;
}
.lado2{
    padding-right: 17px;
}
.lado3{
    padding-right: 1px;
}
.lado4{
    padding-right: 6px;
}
.ld{
    text-align: left;
}
.ld input{
   width: 70%;
   height: 7px;
 
}
.labelClientes{
    margin-left: 64px;
    width: 80%; 
    align-items: center;
}
.todosClientes{
    margin-left: 75px;
    align-items: center;
    text-align:left;
    width: 80%; 
    height: 50px;
    background: transparent;
    border: 3px solid #b6b8bb;
    border-radius: 5px;
    margin-bottom: 1px;
    display: block; 
    overflow: scroll;
}
.todosClientes:hover{
    cursor: pointer;
}
.inputde{
width: 80%;
height: 9px;
margin-bottom: 1px;


}
.selectde{
width: 80%;
height: 9px;
margin-bottom: 1px;
margin-left: 75px;
}
.inputle{
    width: 65%;
    height: 9px;
    margin-bottom: 1px;
    
}
.lado5{
    padding-right: 12px;
    padding-left: 25px;
}
.lado6{
    padding-left: 24px;
}
.lado7{
    padding-left: 8px;
    padding-right: 17px;
   
}
.lado8{
    padding-right: 25px;
    padding-left: 30px;
}
.lado9{
    padding-left: 8px;
    padding-right: 18px;
}
.lado10{
    padding-left: 8px;
    padding-right: 8px;
}
#inputve{
    width: 100%;
    margin-bottom: 0px;
}
.selectle{
    width: 66%;
    height: 23px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 25px;
    margin-bottom: 1px;
    }
    .selectles{
        width: 72%;
        height: 23px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 18px;
        margin-bottom: 1px;
        }
.fech{
    margin-left: 75px;
  
}
#fecha1{
    width: 66%;
    margin-bottom: 0px;
}
.f1{
    padding-right: 48px;
}
.nfac{
    margin-left: 30px;
}
.ld1{
    padding-right: 4.5px;
}
.in1{
  padding-right: 31px;

    
}
.in2{
    padding-right: 16px;
}
.in3{
    padding-right: 5.5px;
}
.nfactura{
    margin-left:5%;
    margin-top: 18%;
}
.sel1{
    padding-right: 5px;
}
#nfac1{
    width: 55%;
    margin-bottom: 0px;
}

