html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h6{
  text-align: center;
}
.contaniner-principal{
  margin-left: auto;
}
.center-table{
  margin-bottom: 20px;
}
.table{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button-table{
  margin-left:12px ;
}