.formMain {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 450px;
  text-align: center;
  box-shadow: none;

}

.formMain label {
  margin-left: auto;
}
.container {

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 30, 53, 0.80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formMain input {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-bottom: 5px;
  font-size: 17px;
  border: 1px solid white;
  margin-bottom: 25px;
  width: 60%;
  border-bottom-color: rgb(119, 119, 119);
}
.formMain img {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  margin-top: 25px;
}
.formInfo {
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.formMain span {
  color: rgb(1, 129, 161);
}

.formMain span:hover {
  color: rgb(253, 47, 116);
  cursor: grab;
}
.seccion {
  color: rgb(26, 26, 26);
  font-size: 18px;
  margin: 0;
}
.links {
  margin-top: 10px;
}
