.nav-main{
    text-align: left;
    width: 300px;
}
.nav-main li {
    list-style: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    cursor: grab;
    margin-bottom:8px;
}
.imagenes{
    width: 25px;
    height: 25px;
    margin-right:5px ;
    display: flex;
}

.avatar-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.nav-main li:hover{
    color:#ff3eaf;
    font-size: 23px;
   
}

.navBar-main{
    background-color: #003048;
}
.nav-main h1{
    text-align: center;
    font-size: 50px;
    color:#00c7b6;
}
.Logo {
    display: flex;
    margin: auto;

}
.Logo img{
    width: 55px;
    height: 55px;
}
.main-navegacion{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top:0%;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.452);
    height: 65px;

}
.info-nav{
    margin-left: auto;
    margin-bottom:auto ;
    margin-top: auto;
    margin-right: 40px;
    display: flex;
}
.info-nav div{
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
}
.info-nav h1{
    font-size: 30px;
}
.nameAvatar{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.contaniner-principal{
    margin-left: 310px;
    margin-top: 95px;
    margin-right: 15px;
}