.formMain {
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    width: 500px;
    height: 500px;
    text-align: center;
  }
  
  .formMain label {
    margin-left: auto;
  }
  .container {
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.459);
    border-radius: 15px;
  }

  .formMain input {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    border: 1px solid white;
    margin-bottom: 25px;
    border-bottom-color: rgb(119, 119, 119);
    width: 40%;
    margin-left: 8px;
  }
  .formMain img {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    margin-top: 25px;
  }
  .formInfo {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .formMain span {
    color: rgb(1, 129, 161);
  }
  
  .formMain span:hover {
    color: rgb(253, 47, 116);
    cursor: grab;
  }
  .seccion {
    color: rgb(26, 26, 26);
    font-size: 18px;
    margin: 0;
  }
  .links {
    margin-top: 10px;
  }
  